<div class="row">
  <div class="col-lg-8 mb-5" >
    <form action="/appeals/addAppeal" method="POST">

      <div class="form-group row">
        <div class="col-md-5 mr-auto">
          <label for="cf-1">Module Code:</label>
          <input name="moduleCode" id="cf-1" placeholder="Enter Module Code Here" class="form-control" />
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3 mr-auto">
          <p>  
            <label>Appeal Type:</label>
            <select name="type">    
              <option value="" selected="selected"></option>
              <option value="Max Workload Waiver">Max Workload Waiver</option>
              <option value="Module Appeal">Module Appeal</option>
              <option value="Others">Others</option>  
            </select>
          </p>  
        </div>
      </div>
              
      <div class="form-group row">
        <div class="col-md-12">
            <label>Appeal Details:</label>
            <textarea name="detail" id="" class="form-control" placeholder="Add Appeal Details (Max. Limit 254 chars)" cols="30" rows="10"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6 mr-auto">
          <a href="/appeals/viewAllAppeals" class="ml-auto btn btn-primary">Back</a>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
      </div>
  </form>
</div>