<div class="form-group row">
    <div class="col-md-12">
        <form action="appeal">
            <button type="submit">Add Appeal</button>
        </form>
    </div>
</div>

<table style="width:100%">
  <tr>
    <th>Appeal No.</th>
    <th>Module</th>
    <th>Appeal Type</th>
    <th>Status</th>
    
  </tr>
  <tr>
    <td>1</td>
    <td>CS2102</td>
    <td>Module Appeal</td>
    <td>Approved</td>
  </tr>
  <tr>
    <td>2</td>
    <td>IS3103</td>
    <td>Max Workload Waiver</td>
    <td>Pending Approval By Home</td>
  </tr>
</table>
