    
<div class="module-finder-input search-panel">
  <label for="search-box" class="sr-only">Search</label>
    <form class="_2K95c8oa">
       <input id="search-box" class="form-control form-control-lg" type="search" placeholder="Search module code, name" autocomplete="off" value="">
    </form>
</div>

<ul class="pagination justify-content-center XfkpKRXZ">
  <li>
    <button type="button" class="btn _3eHHOrPS" tabindex="0" disabled="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="_1pEpQ2lE">
        <polyline points="11 17 6 12 11 7">

        </polyline>
        <polyline points="18 17 13 12 18 7">

        </polyline>
      </svg>
      </button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS" tabindex="0" disabled="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="_1pEpQ2lE">
        <polyline points="15 18 9 12 15 6">
        </polyline>
      </svg>
    </button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS _3qjw6hdj">1</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">2</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">3</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">4</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">5</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">6</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">7</button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="_1pEpQ2lE">
        <polyline points="9 18 15 12 9 6">

        </polyline>
      </svg>
    </button>
  </li>
  <li>
    <button type="button" class="btn _3eHHOrPS">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="_1pEpQ2lE">
        <polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7">

        </polyline>
      </svg>
    </button>
  </li>
</ul>

<table style="width:100%">
  <tr>
    <th>Faculty</th>
    <th>Module Code</th>
    <th>Module Name</th>
    <th>Semester Offered</th>
    <th>Total Number of Students</th>
    
  </tr>
  <tr>
    <td>COM</td>
    <td>CS2102</td>
    <td>DATABASE SYSTEMS</td>
    <td>1</td>
    <td>251</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>IS1100</td>
    <td>MODULE NAME HERE</td>
    <td>1</td>
    <td>180</td>
  </tr>
    <tr>
    <td>COM</td>
    <td>IS1111</td>
    <td>MODULE NAME HERE</td>
    <td>1</td>
    <td>200</td>
  </tr>
    <tr>
    <td>COM</td>
    <td>IS1222</td>
    <td>MODULE NAME HERE</td>
    <td>1</td>
    <td>155</td>
  </tr>
    <tr>
    <td>COM</td>
    <td>IS1501</td>
    <td>MODULE NAME HERE</td>
    <td>1</td>
    <td>171</td>
  </tr>
    <tr>
    <td>COM</td>
    <td>IS1234</td>
    <td>MODULE NAME HERE</td>
    <td>1</td>
    <td>108</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>CS2102</td>
    <td>DATABASE SYSTEMS</td>
    <td>2</td>
    <td>167</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>IS1100</td>
    <td>MODULE NAME HERE</td>
    <td>2</td>
    <td>89</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>IS1111</td>
    <td>MODULE NAME HERE</td>
    <td>2</td>
    <td>140</td>
  </tr>
    <tr>
    <td>COM</td>
    <td>IS1222</td>
    <td>MODULE NAME HERE</td>
    <td>2</td>
    <td>100</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>IS1501</td>
    <td>MODULE NAME HERE</td>
    <td>2</td>
    <td>120</td>
  </tr>
  <tr>
    <td>COM</td>
    <td>IS1234</td>
    <td>MODULE NAME HERE</td>
    <td>2</td>
    <td>186</td>
  </tr>

</table>