<div class="site-section pt-0 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <form class="trip-form">
                    <div class="row align-items-center mb-4">
                        <div class="col-md-6">
                            <h3 class="m-0">Begin your trip here</h3>
                        </div>
                        <div class="col-md-6 text-md-right">
                            <span class="text-primary">32</span> <span>cars available</span></span>
                        </div>
                    </div>
                    <div class="row">
                        <h1> Module Creation
                        </h1>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="cf-1">Module Name</label>
                            <input type="text" data-role="tagsinput" id="modName" placeholder="Module Name"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-2">Module code</label>
                            <input type="text" id="modCode" placeholder="Module Code" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-3">Module Credit</label>
                            <input type="text" id="modCredit" placeholder="E.g. 4" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="cf-1">Quota</label>
                            <input type="text" id="modQuota" placeholder="E.g. 100"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-2">Department</label>
                            <select name="module" id="department" class="form-control" placeholder="Select Department">
                                <option value="SOC">SOC</option>
                                <option value="FASS">FASS</option>
                                <option value="MATH">MATH</option>
                                <option value="MED">MED</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-3">Semester Offered</label>
                            <span class="form-control" id="semOffered">
                                <input type="checkbox" name="Sem 1" value="Sem 1"> Sem 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="Sem 2" value="Sem 2"> Sem 2
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea name="" id="modDesc" class="form-control" placeholder="Module Descrption." cols="30"
                                rows="8"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="cf-1">Pre Reg 1</label>
                            <input type="text" data-role="tagsinput" id="prereg1" placeholder="E.g. IS2102"
                                class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-2">Pre Reg 2</label>
                            <input type="text" id="prereg2" placeholder="E.g. IS2103" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="cf-3">Pre Reg 3</label>
                            <input type="text" id="prereg3" placeholder="E.g. IS2103" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <input type="submit" value="Submit" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>