<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-12" style="padding-right:0px !important">
            <div class="feature-car-rent-box-1" style="height:600px;  box-shadow: -8px 0px 8px -8px grey;">
                <div class="col-lg-12" style="text-align:center">
                    <img src="images/profileImage.png" style="border-radius: 50%; height:150px; margin-bottom:20px"
                        alt="Avatar"/>
                </div>
                <ul class="list-unstyled">
                    <li>
                        <span>Full Name</span>
                        <span class="spec"></span>
                    </li>
                    <li>
                        <span>Course</span>
                        <span class="spec">Information Systems</span>
                    </li>
                    <li>
                        <span>Faculty</span>
                        <span class="spec">School of Computing</span>
                    </li>
                    <li>
                        <span>Specialisation</span>
                        <span class="spec">N/A</span>
                    </li>
                    <li>
                        <span>Minor</span>
                        <span class="spec">N/A</span>
                    </li>
                    <li>
                        <span>Second Major</span>
                        <span class="spec">N/A</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>